TEI {
    background-color: #2b1f1f; 
    color: #f2e9dc; 
    font-family: "Times New Roman", serif;
}


teiHeader {
    background-color: #3c2a2a; 
    display: block;
    padding: 15px;
    border-bottom: 2px solid #5b3d3d;
}

titleStmt {
    display: block;
}
title {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

title:after {
    content: " — Édition numérique —";
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
    color: #c9b8a6;
}


publicationStmt {
    display: inline;
}

publicationStmt:after {
    content:"\a";
    white-space: pre;
}

publisher::after {
    display: inline;
    content: ": ";
    color: #c9b8a6;
}


sourceDesc::before {
    content: "Source : ";
    display: inline;
    font-style: italic;
    color: #b8a89b;
}


profileDesc {
    display: none;
}


body {
    background-color: #2b1f1f; 
    color: #f2e9dc;
    margin: 20pt;
    line-height: 1.5em;
    font-size: 1.05em;
    font-family: "Times New Roman", serif;
    display: block;
}

p {
    display: block;
    margin-bottom: 1em;
}


name[ana="person"] {
    padding: 3px 6px;
    background-color: #5e2f2f;
    border-radius: 4px;
    font-weight: bold;
    color: #f4ebe2;
}


idno {
    color: #a56b6b;
    display: block;
    font-size: 0.9em;
    font-style: italic;
    margin-top: 5px;
}


front {
    display: block;
    margin: 30px 0;
}

div[type="dedication"] {
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
    color: #d7cbc1;
}

div[type="contents"] {
    margin-bottom: 50px;
}

div[type="contents"] head {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #5b3d3d;
}

list {
    display: block;
    margin: auto;
    width: fit-content;
}

item {
    display: list-item;
    list-style: square;
    margin-left: 20px;
    color: #eaddd1;
}


div[type="poem"] head {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
    color: #d8c1b4;
    font-weight: bold;
}


lg {
    display: block;
    margin-bottom: 18px;
}


l {
    display: block;
    margin-left: 30px;
}


back {
    display: block;
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid #5b3d3d;
}

div[type="colophon"] {
    text-align: center;
    font-style: italic;
    color: #c7b9ad;
}



div[type="contents"] {
  margin: 0 auto;
  padding: 20px;
  display: block;
  text-align: center;
}

div[type="contents"] head {
  font-size: 1.6em;
  margin-bottom: 15px;
  display: block;
}


div[type="contents"] list {
  display: inline-block;
  text-align: left;
  margin-bottom: 30px;
}

div[type="contents"] item {
  display: list-item;
  margin-left: 20px;
}